*{margin: 0;
padding: 0;
}

.header {
    background-color: #003366;
    color: #fff;
    padding: 20px;
    text-align: center;
    min-width: 70%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    font-weight: bold;
    color: white;
    
}
.btn a{
    text-decoration:none ;
}

/* Style for ADD User button (Green) */
.btn-add {
    background-color: #28a745; /* Green */
}

.btn-add:hover {
    background-color: #218838; /* Darker green on hover */
}

/* Style for DELETE User button (Red) */
.btn-delete {
    background-color: #dc3545; /* Red */
}

.btn-delete:hover {
    background-color: #c82333; /* Darker red on hover */
}

/* Style for EDIT User button (Blue) */
.btn-edit {
    background-color: #007bff; /* Blue */
}

.btn-edit:hover {
    background-color: #0069d9; /* Darker blue on hover */
}
div.scrollmenu {
    background-color:#2c3e50;
    overflow: auto;
    white-space: nowrap;
  }
  
  div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 50px;
    text-decoration: none;
  }
  
  div.scrollmenu a:hover {
    background-color: #34495e;
    color: rgb(128, 110, 110);
  }


ul {
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow:hidden ;
    width:100%;
    background-color:#2c3e50;
}

li{
    float: left;
}

li a{
    text-decoration: none;
    display:block;
    color: white;
    padding: 10px 45px;
}

li a:hover:not(.active){
    background-color: #34495e;
    color: rgb(128, 110, 110);
}


h2, h3 {
    color: #333;
    text-align: center;
}
.dashboard-cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.card {
    background-color: white;
    padding: 20px;
    width: 30%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.card h3 {
    margin-top: 0;
    color: #003366;
}

table {
    
  width: 100%;
    border-collapse: collapse;
    margin-bottom: 40px;
}
table, th, td {
   
    border: 2px solid #ddd;
}
th, td {
    padding: 20px;
    text-align: left;
}
th {
    background-color: #003366;
    color: white;
}
td {
    background-color: #f9f9f9;
}
.section {
    margin-bottom: 40px;
}

/*--------*/

.navi:after {
    content: "";
    display: table;
    clear: both;
}


@media screen and (max-width: 600px) {
    .navi li {
        float: none;
    }
    
    .header h1 {
        font-size: 20px;
    }
    
    .navi li {
        text-align: center;
        float: none;
    } 

}

.scrollmenu {
    overflow-x: auto;
    white-space: nowrap;
}

.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.scrollmenu a:hover {
    background-color: #777;
}

